@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/5FbdueAKJ1eeO4CsvGhNRevvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/0DeoTBMnW4sOpD0Zb8OQSALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/MZ1aViPqjfvZwVD_tzjjkwLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/jZjuDZSb58pQtWhOr6q-6ALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin-top: 60px;
}

.card-table {
    padding-top: 60px;
    background-color: green;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    min-height: 800px;
}

.developer-bar {
    color: #000;
    font-size: 12px;
}
.action-bar {

}

.ng-enter {}

.ng-leave {}

.btn-start {
    border-radius: 50%;
}

.ng-hide {
    display: none!important;
}
.dealer-hand {
    background-color: #f7f7f7;
}

.player-hand {
    background-color: #ccc;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 35px;
}


.my-element.ng-enter {
  animation: fadeIn 1s;
}

.my-element.ng-leave {
  animation: fadeOut 1s;
}